Repository Witekio/pluma-automation, pull requests merged in 2020-10, with the labels that each got.

#115 tests: fix make test, runs with coverage
  tests/scripts/run_tests.sh
Labels: bug, test suite

#111 Check CLI arg config files exist
  pluma/__main__.py
Labels: enhancement

#92 Closes #75, closes #90 Feature/testuite doesnt need all tests in init
  pluma/cli/pythontestsprovider.py
  tests/generic/cli/plugin-test.yml
  tests/generic/cli/plugins-src/example_plugin/__init__.py
  tests/generic/cli/plugins-src/topleveltests.py
  tests/generic/cli/test_cli.py
Labels: enhancement

#131 tests: fix a few warnings in test_filesystem_plugins
  tests/generic/cli/test_filesystem_plugins.py
Labels: unit tests

#132 tests: remove mocks classes
  pluma/core/mocks/__init__.py
  pluma/core/mocks/boardmock.py
  pluma/core/mocks/consolemock.py
  pluma/core/mocks/hardwaremock.py
  pluma/core/mocks/powermock.py
  pluma/core/mocks/relaymock.py
  pluma/core/mocks/serialconsolemock.py
  pluma/core/mocks/storagemock.py
  tests/generic/conftest.py
Labels: unit tests

#138 Consistent muliline logging style throughout codebase
  pluma/__main__.py
  pluma/cli/api.py
  pluma/cli/testsbuilder.py
  pluma/cli/testsconfig.py
  pluma/core/baseclasses/logging.py
Labels: enhancement

#126 unit tests: pluma_config_file fixture takes "settings" section
  tests/generic/conftest.py
Labels: enhancement, unit tests

#156 tests: rename generic/generic to generic/core
  tests/generic/core/loremipsum.py
  tests/generic/core/test_Board.py
  tests/generic/core/test_ConsoleBase.py
  tests/generic/core/test_HostConsole.py
  tests/generic/core/test_PexpectEngine.py
  tests/generic/core/test_PowerMulti.py
  tests/generic/core/test_SSHConsole.py
  tests/generic/core/test_SerialConsole.py
  tests/generic/core/test_SoftPower.py
  tests/generic/core/test_TestRunner.py
Labels: unit tests

#162 DeviceActions: use consistent naming for actions
  README.md
  pluma/cli/deviceactionregistry.py
  pluma/cli/deviceactions.py
Labels: enhancement

#163 DeployAction: support deploying multiple files
  README.md
  pluma/cli/__init__.py
  pluma/cli/deviceactions.py
  tests/generic/cli/test_DeviceAction.py
Labels: enhancement, unit tests
